

h4 { 
    font-family:'Courier New', Courier,  'Arial Narrow Bold', sans-serif;

    color: darkgray;

}
.jumbotron
{ 
    background-color: yellow
  color: black;
   margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: lightblue;
    margin-bottom: 0px;
    margin-top: 10px;  
}
.card-hotel{
    flex: 1 200px_;
    margin-top: 10px;
}  
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}     
.footer-address-icon{
    padding-right: 10px;
}        
with
footer .col-sm-4{
    
    color: black;
    
}
a:link{
    color: peru;
    
    
    text-decoration: none;
}

li{
color: seagreen;
    
    text-decoration: none;
}
footer .ref {
    list-style: none;
}
footer .ref a{
    color: aqua;

} 
.tab-content{
  padding-top: 10px;
}





<div class="jumbotron">
  <div class="container p-3 my-3 border"> 
  <h1 class="display-4"> hoteles </h1><br>

<button class=" btn btn-primary btn-reserva">
<button class=" btn btn-primary btn-reserva">
<span class=" oi oi-plus"> </span>Más hoteles en Cancún</button>
YA ESTA BIEN
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <!-- Bootstrap CSS-->>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos/estilos.css">
    <link rel="stylesheet" href="node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">


    <title>Guia Hoteles</title>
</head>
   <body>
    
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
<a class="navbar-brand" href="#">Hoteles </a>
 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="./about.html">Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href="./precios.html">Precios</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Terminos y condiciones</a></li>
    <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li>
  </ul>

      </a>
      
    </li>
    <li class="nav-item">
    </li>
  </ul>
</div>
</nav>

 <h2> HOLA, ESTO ES UNA PRUEBA</h2>
</div>
 <div class="jumbotron">
  <h1> Hoteles</h1>
</div>
<div class="container"> 
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">  
  <li class="breadcrumb-item active" aria-current="page"> Home</li>
  <li class="breadcrumb-item active" aria-current="page"> Nosotros</li>

  </ol>
</nav>
<div class="row"> 
  <div class="container p-3 my-3 bg-light  text-dark"> 
  <h1 class="display-4"> hoteles </h1>
 
  <div class="d-flex"> 
    <div class="col-sm"> 
      <p> 

<h3> Guia de hoteles:</h3> 
  <p> Guia básica de diferentes hoteles</p>

</div>
<div class="col-sm-4"> 
  <h3> Los mejores hoteles del mundo</h3> 
  <p> Aquí encontrarás un guía con las mejores cadenas hotelesras en todo el mundo</p>
</div> 
<div class="col-sm-4"> 
  <h3> Los mejores hoteles en México:</h3> 
  <p> Aquí encontrarás una guía con los hoteles mejor catalogados en México
     </p>
</div>
</div>
<hr>
SECCION 1
<div class="row"> 
  <div class="container p-3 my-3 bg-light  text-dark"> 
 
  <div class="d-flex"> 
    <div class="col-sm"> 
      <p> 

<h3> Hoteles en Cancun:</h3> 
<h6 class="card-title text-muted"> México</h6>     

  <p> Live Aqua Beach Resort Cancun, JW Marriott Cancún Resort, Aloft Cancun, Hotel Riu Palace Peninsula, Cancui Aiport Zone</p>
  <button class=" btn btn-primary btn-reserva">
    <span class=" oi oi-plus"> </span>Más hoteles en Cancún</button>
</div>

<div class="col-sm-4"> 
  <h3> Hoteles en Punta Cana:</h3> 
  <h6 class="card-title text-muted"> Republica Dominicana</h6>     
   <p> Barceló Bávaro Palace, Hilton La Romana, an All-inclusive Family Resort, Majestic Mirage Punta Cana, TRS Turquesa Hotel</p>
  <button class=" btn btn-primary btn-reserva">Más hoteles en Punta Cana</button>
    
  </div> 

<div class="col-sm-4"> 
  <h3> Hoteles en La Habana:</h3> 
  <h6 class="card-title text-muted"> Cuba</h6>     
  <p> Occidental Arenas Blancas, Allegro Palma Real, Barceló SolyMar, Royal Hideaway, Loft Habana, El Candil Boutique Hotel</p>
  <button class=" btn btn-primary btn-reserva">Más hoteles en Punta Cana</button>
</div>
</div>
<hr>

SECCION DOS

<div class="row"> 
  <div class="container p-3 my-3 bg-light  text-dark"> 
 
  <div class="d-flex"> 
    <div class="col-sm"> 
      <p> 

<h3> Hoteles en Rio de Janeiro:</h3> 
<h6 class="card-title text-muted"> Brasil</h6>     
<p> Hotel Atlántico Travel Copacabana, Hotel Atlántico Prime, Rio Othon Palace, Hotel Astoria Palace, Royal Rio Palace Hotel</p>
<button class=" btn btn-primary btn-reserva">Más hoteles en Rio de Janeiro</button>
</div>

<div class="col-sm-4"> 
  <h3> Hoteles en Hawaii:</h3> 
  <h6 class="card-title text-muted"> Estados Unidos</h6>     
  <p> Hilton Hawaiian Village Waikiki Beach Resort, Hilton Waikki Beach, Hilton Garden Inn Waikiki Beach,Hilton Grand Vac Club Islander</p>
  <button class=" btn btn-primary btn-reserva">Más hoteles en Hawaii</button>
</div> 

<div class="col-sm-4"> 
  <h3> Hoteles en Santorini:</h3> 
  <h6 class="card-title text-muted">Mar Egeo</h6>
  <p>Hotel Bora, Phos The Boutique, The Vasilicos, Angel Luxury Suites, Marquise Suites, San Antonio Small Luxury Hotels of the World</p>
  <button class=" btn btn-primary btn-reserva">Más hoteles en Santorini</button>
</div>
</div>
<hr>

EDITAR


<footer>
  <div class="row"> 
  <div class="col-sm-4 d-flex flex-column">

  <p> Visita nuestras redes sociales para mayor información a cerca de los mejores hoteles</p>
  <a href="www.instagram.com"> Instragram </a>
  <a href="www.facebook.com"> Facebook </a>
  <a href="www.tiktok.com/es"> TikTok </a>
  <a href="www.twitter.com"> Twitter </a>
</div>

<div class="col-sm-4">
  <addresses>
    <h5> Visita nuestro sitio web o contacta a uno de nuestros asesores, atención al cliente completamente en linea</h5>
    <p> Visita nuestras redes sociales para mayor información a cerca de los mejores hoteles</p>
    <p> 7772432167</p>
    <p> www.losmejoreshotelesdelmundo.com</p>
  </addresses>
</div>

<div class="col-sm-4 " d-flex flex-column>
<li><a href="#"> Acerca de nuestros paquetes </a></li>
<li><a href="#"> Nuestros precios </a></li>
<li><a href="#"> Pregunta por nuestras promociones </a></li>
</div>

</div>

</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"> </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"> </script>

  </body>
	</html>

    imageen 
    <img src="img/01.jpg"> <class="card-img-top" alt =".." >


    Tablas con tableeee
    <div class="table-responsive">


  <table class="table table-striped"> 
  <thead class="thead-dark">
  <th> Calidad</th> 
  <th> Pinamar</th> 
  <th> Mar de Plata</th> 
  <th> San Clemente</th> 
  <th> Santa Teresita</th>   
  <th> Pinamar</th> 
  <th> Mar de Plata</th> 
  <th> San Clemente</th> 
  <th> Santa Teresita</th>   
  </thead>
  <tbody>
  <tr>
  <td> <span class="oi oi-star"></span></td>  
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td>  
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  </tr>  
  <tr>
    <td><span class="oi oi-star"></span>  
    <span class="oi oi-star"></span></td>  

    <td>$210</td>  
    <td>$220</td>  
    <td>$250</td>  
    <td>$280</td>
    <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td>   
    </tr>  
    <tr>
      <td><span class="oi oi-star"></span>    
      <span class="oi oi-star"></span>   
      <span class="oi oi-star"></span></td> 
      <td>$300</td>  
      <td>$320</td>  
      <td>$350</td>  
      <td>$380</td>
      <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td>   
      </tr>  
      <tr>
        <td><span class="oi oi-star"></span>   
        <span class="oi oi-star"></span>    
        <span class="oi oi-star"></span>    
        <span class="oi oi-star"></span> </td>  
        <td>$400</td>  
        <td>$420</td>  
        <td>$450</td>  
        <td>$480</td>
        <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td>   
        </tr>  
        <tr>
          <td><span class="oi oi-star"></span>  
          <span class="oi oi-star"></span>  
          <span class="oi oi-star"></span>    
          <span class="oi oi-star"></span>    
          <span class="oi oi-star"></span></td>  
          <td>$500</td>  
          <td>$520</td>  
          <td>$550</td>  
          <td>$580</td>
          <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td> 
  <td>$100</td>  
  <td>$120</td>  
  <td>$150</td>  
  <td>$180</td>   
          </tr>  
      
  </tbody>  

  </table> 
</div>
</div>


  <div class="d-flex justify-content-center"> 
  <div class="card" style="width: 18rem;">
  <div class="card-header" style="background-color:blue; color:white;">
    
    Tarjetas Aceptadas
  </div>
  <ul class="list-group list-group-flush"> 
  <li class="list-group-item"> Tarjeta Básica  </li>
  <li class="list-group-item"> Tarjeta VIP  </li>
  <li class="list-group-item"> Tarjeta Black  </li>
  </ul>
</div>
</div>
</div>


pestañas
<ul class="nav nav-tabs" id="myTab" role="tablist"> 
<li class="nav-item">
  

<a class="nav-link active" id="compara-tab" data-toggle="tab"
 href="#compara" role="tab" aria-controls="compara" aria-selected=
 "true"> Compara</a>
</li> 

<li class="nav-item">
<a class="nav-link" id="tarjetas-tab" data-toggle="tab" href="
#tarjetas" role="tab" aria-controls="tarjetas" aria-selected="
false">Tarjetas</a>
</li>

<li class="nav-item">
<a class="nav-link" id="comentarios-tab" data-toggle="tab" href="
#comentarios" role="tab" aria-controls="comentarios"
aria-selected="false"> Comentarios</a>
</li>
</ul>

<div class="tab-content" id="myTabContent"> 
<div class="tab-pane fade show active" id="compara" role="tabpanel"
aria-labelledby="compara-tab">
<div class="table-responsive">
<table class="table table-striped"> 
<thead class="thead-dark"> 
  <th> Calidad</th> 
  <th> Pinamar</th> 
  <th> Mar de Plata</th> 
  <th> San Clemente</th> 
  <th> Santa Teresita</th>   
  <th> Pinamar</th> 
  <th> Mar de Plata</th> 
  <th> San Clemente</th> 
  <th> Santa Teresita</th>   
  </thead>
  <tbody>
    <tr>
      <td> <span class="oi oi-star"></span></td>  
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td>  
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      </tr>  
      <tr>
        <td><span class="oi oi-star"></span>  
        <span class="oi oi-star"></span></td>  
    
        <td>$210</td>  
        <td>$220</td>  
        <td>$250</td>  
        <td>$280</td>
        <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td>   
        </tr>  
        <tr>
          <td><span class="oi oi-star"></span>    
          <span class="oi oi-star"></span>   
          <span class="oi oi-star"></span></td> 
          <td>$300</td>  
          <td>$320</td>  
          <td>$350</td>  
          <td>$380</td>
          <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td>   
          </tr>  
          <tr>
            <td><span class="oi oi-star"></span>   
            <span class="oi oi-star"></span>    
            <span class="oi oi-star"></span>    
            <span class="oi oi-star"></span> </td>  
            <td>$400</td>  
            <td>$420</td>  
            <td>$450</td>  
            <td>$480</td>
            <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td>   
            </tr>  
            <tr>
              <td><span class="oi oi-star"></span>  
              <span class="oi oi-star"></span>  
              <span class="oi oi-star"></span>    
              <span class="oi oi-star"></span>    
              <span class="oi oi-star"></span></td>  
              <td>$500</td>  
              <td>$520</td>  
              <td>$550</td>  
              <td>$580</td>
              <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td> 
      <td>$100</td>  
      <td>$120</td>  
      <td>$150</td>  
      <td>$180</td>   
              </tr>  
          
      </tbody>  
    
      </table> 
    </div>
    </div>
  </div>
       

    <div class="tab-pane fade" id="tarjetas" role="tabpanel"
    aria-labelledby="tarjetas-tab"> 

    <div class="d-flex justify-content-center"> 
      <div class="card" style="width: 18rem;">
      <div class="card-header" style="background-color:blue;
       color:white;">
        
        Tarjetas Aceptadas
      </div>
      <ul class="list-group list-group-flush"> 
      <li class="list-group-item"> Tarjeta Básica  </li>
      <li class="list-group-item"> Tarjeta VIP  </li>
      <li class="list-group-item"> Tarjeta Black  </li>
      </ul>
    </div>
    </div>
    </div>

    <div class="tab-pane fade" id="comentarios" role="tabpanel"
    aria-labelledby="comentarios-tab"> Comentarios </div>
  </div>
</div>